<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联通网站监控平台</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="box">
    <div class="header">
        <h1 class="siteTile" id="headerUrlCreate">
            <i class="icon-leida"></i>
            <span>站点监控</span>
        </h1>
    </div>
    <div class="container">
        <div class="BcrbNavigation">
            当前位置：<a href="javascript:;" class="siteList" id="canBackMonitoringList">监控点列表</a>
            > <a href="javascript:;" class="active">创建监控点</a>
        </div>
        <div class="siction">
            <button class="created">
                <span>基本信息</span>
            </button>
            <div class="infoBox">
                <div class="inputs-container">
                    <label for="names" class="labels">监控点名称</label>
                    <input type="text" id="monitoring_name" class="inputs">
                    <p>以中英文开头，支持中英文，数字，下划线或连接符，最多50个字符</p>
                </div>
                <div class="created-btn">
                    <button class="created" id="createdetermine">
                        <span>创建</span>
                    </button>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/session.js"></script>
<script type="text/javascript" src="/javascripts/createmonitoring.js"></script>
</body>
</html>