<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联通网站监控平台</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!--<div class="box">-->
    <div class="header">
        <h1 class="siteTile" id="">
            <i class="icon-leida"></i>
            <span style="font-size: 20px">站点监控</span>
        </h1>
    </div>
    <!--<div class="">-->
            <!--<div class="" style="width: 380px;float: right;background: #fbf8f8;margin-top: 80px;">-->
                <!--<div style="margin: 80px;">-->
                    <!--<div style="margin-bottom: 20px;">-->
                        <!--<label for="" class="">登陆名</label>-->
                        <!--<input type="text" id="login_name" class="">-->
                    <!--</div>-->

                    <!--<div style="margin-bottom: 20px;">-->
                        <!--<label for="" class="" style="margin-right: 13px;">密码</label>-->
                        <!--<input type="password" id="login_password" class="">-->
                    <!--</div>-->
                    <!--<div style="margin-top: 40px;">-->
                        <!--<button class="" id="loginDetermine">-->
                            <!--<span>登陆</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="qc-pt-login-content J-commonLoginContent " style="width: 100%">
    <!--login start-->
    <div class="login-tab" style="position: absolute;left: 0;right: 0;margin: auto;margin-top: 100px">
        <h1 class="login-tab-title J-txtLoginTitle">登录</h1>
        <!--邮箱手机登录　start-->
        <div class="login-box J-loginContentBox J-qcloginBox" style="">
            <div class="login-form">
                <div class="tc-msg error" style="display:none">
                    <span class="msg-icon"></span>
                    <div class="tip-info J-loginTip"></div>
                </div>
                <ul class="form-list">
                    <li>       <div class="form-input">
                            <div class="form-unit tip-unit">
                                <label class="input-tips" style="display: none;">输入账号</label>
                                <input id="login_name" value="" type="text" class="qc-log-input-text lg J-username" placeholder="输入账号">
                                <ul class="tip-list J-mailSuggest" style="display:none;">
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="form-input">
                            <div class="form-unit">
                                <label class="input-tips" style="display: none;">输入密码</label>
                                <input id="login_password" type="password" class="qc-log-input-text lg J-password" placeholder="输入密码">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="op-btn">
                <input type="button" value="登 录" class="qc-log-btn J-loginBtn" id="loginDetermine">
                <button type="button" class="qc-log-btn lg" style="display:none">
                    <div class="m-loading">
                        <div class="loading">
                            <div class="one"></div>
                            <div class="two"></div>
                            <div class="three"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>  <!--login end-->


<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/session.js"></script>
<script type="text/javascript" src="/javascripts/login.js"></script>
</body>
</html>